### String

String -->  Sequence of characters
They must be enclosed in single, double / triple quotes.
Strings are immutable -> they cannot be changed, once they are created.

There are no character types in python
Single length string are considered as character

Negative Indexing gives last element

### How to create String

In [9]:
s = "Arshad"

In [10]:
print(s)

Arshad

### Indexing

In [11]:
s[0]

'A'

In [12]:
s[1]

'r'

### Negative Indexing

In [13]:
s[-1]

'd'

In [14]:
s[-2]

'a'

### Single length String

In [15]:
s = 'a'
type(s)

str

### How Strings are stored

Variable name has reference to a variable

It just point to memory location

when you write print(a) -> It goes to that memory location and print the content in it.

### String Concatenation

String concatenation means adding something to string

Concatenation happens using plus operator

In [3]:
a = "red"
print(a)

red

In [11]:
a = a + "blue"
print(a)

redblueblueblueblueblueblueblueblue

In [ ]:
a = a*3
### same string will be repeated three times

In [12]:
a

'redblueblueblueblueblueblueblueblue'

In [13]:
# You cannot add an int to string
a = a + 3

TypeError: can only concatenate str (not "int") to str

In [16]:
# Convert int into str using str(), then append it
a = a + str(3)
a

'redblueblueblueblueblueblueblueblue333'

### String Slicing

In [1]:
s="Arshad"

In [2]:
s[1:4]

'rsh'

In [3]:
s[1:4:2]

'rh'

In [4]:
s[4:2:-1]

'ah'

### Iterating on String

In [5]:
str = "Arshad Siddique"

In [8]:
count = 0
for letter in str:
    if letter == 'd':
        count+=1
print(count)

3

In [11]:
count = 0
for letter in range(len(str)):
    if str[letter] == 'd':
        count+=1
print(count)

3

### in & not in operation on string

In [12]:
str = "Arshad"

In [14]:
if "Arsh" in str:
    print("It is a substring")
else:
    print("It is not a substring")

It is a substring

in --> checks a substring
not in --> checks not a substring

### Comparison Operator on String

< > <= >= == !=

It will compare character by character & see values are equal
They are compared on the basis of ASCII value
Every character has ASCII value
If all the character are same, whoever length is greater will be greater

In [2]:
a = "abce" >= "abcdef"
print(a)

True

### Operation on Strings

### replace()

replace - replace string with another string
It returns a new string

In [5]:
str = "My name is Parikh"
str = str.replace("Parikh","Arshad")
print(str)

# I want to replace Parikh with Rohan
# How many times you want to replace

My name is Arshad

In [6]:
str = "My name is Parikh Parikh"
str = str.replace("Parikh","Arshad",1)
print(str)

# I want to replace Parikh with Rohan
# How many times you want to replace

My name is Arshad Parikh

### find()

find - 
find something in a string
It actually finds a substring in a string
It returns the index of that substring

In [7]:
str = "My Name is Arshad"
index = str.find("Ars")
print(index)

11

### lower()

lower -
It converts all the string into lowercase

In [10]:
str = "My Name is Arshad"
str = str.lower()
print(str)

my name is arshad

### upper()

upper -
It converts all the string into uppercase

In [12]:
str = "My Name is Arshad"
str = str.upper()
print(str)

MY NAME IS ARSHAD

### split()

It returns a list of strings.
If you don't pass any delimiter, then it will automatically split on the basis of space.
If you pass delimiter, it will split on the basis of delimiter.
How many times you want to split

In [17]:
str = "My Name is Arshad"
str = str.split(' ',1)
print(str)

# If we pass one, it will split into two elements
# If we pass two, it will split into three elements

['My', 'Name is Arshad']